@font-face{font-family:'Veneer';src:url("../fonts/269F65_0_0.eot");src:url("../fonts/269F65_0_0.eot?#iefix") format("embedded-opentype"),url("../fonts/269F65_0_0.woff") format("woff"),url("../fonts/269F65_0_0.ttf") format("truetype"),url("../fonts/269F65_0_0.svg#Veneer") format("svg");font-weight:normal;font-style:normal}@font-face{font-family:'ThirstyRough';src:url("../fonts/269F66_0_0.eot");src:url("../fonts/269F66_0_0.eot?#iefix") format("embedded-opentype"),url("../fonts/269F66_0_0.woff") format("woff"),url("../fonts/269F66_0_0.ttf") format("truetype"),url("../fonts/269F66_0_0.svg#ThirstyRough") format("svg");font-weight:normal;font-style:normal}@font-face{font-family:'LeagueGothicRegular';src:url("../fonts/LeagueGothic-Regular-webfont.eot");src:url("../fonts/LeagueGothic-Regular-webfont.eot?#iefix") format("embedded-opentype"),url("../fonts/LeagueGothic-Regular-webfont.woff") format("woff"),url("../fonts/LeagueGothic-Regular-webfont.ttf") format("truetype"),url("../fonts/LeagueGothic-Regular-webfont.svg#LeagueGothicRegular") format("svg");font-weight:normal;font-style:normal}html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font:inherit;font-size:100%;vertical-align:baseline}html{line-height:1}ol,ul{list-style:none}table{border-collapse:collapse;border-spacing:0}caption,th,td{text-align:left;font-weight:normal;vertical-align:middle}q,blockquote{quotes:none}q:before,q:after,blockquote:before,blockquote:after{content:"";content:none}a img{border:none}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary{display:block}.cf:before,#main:before,#the_band:before,#schedule:before,#location:before,#tickets:before,#subscribe:before,#how_it_works:before,#sponsors:before,#workshops:before,#workshops_page:before,#location .venue:before,#location .city:before,.features:before,footer .credits:before,.cf:after,#main:after,#the_band:after,#schedule:after,#location:after,#tickets:after,#subscribe:after,#how_it_works:after,#sponsors:after,#workshops:after,#workshops_page:after,#location .venue:after,#location .city:after,.features:after,footer .credits:after{content:" ";display:table}.cf:after,#main:after,#the_band:after,#schedule:after,#location:after,#tickets:after,#subscribe:after,#how_it_works:after,#sponsors:after,#workshops:after,#workshops_page:after,#location .venue:after,#location .city:after,.features:after,footer .credits:after{clear:both}.cf,#main,#the_band,#schedule,#location,#tickets,#subscribe,#how_it_works,#sponsors,#workshops,#workshops_page,#location .venue,#location .city,.features,footer .credits{*zoom:1}.ir,footer .ftf_logo{background-color:transparent;color:transparent;border:0;overflow:hidden;*text-indent:-9999px}.ir:before,footer .ftf_logo:before{content:"";display:block;width:0;height:150%}.ir a:after,footer .ftf_logo a:after,a[href^="javascript:"]:after,a[href^="#"]:after{content:""}@-webkit-keyframes 'passingTrain'{0%{right:-200%}100%{right:100%}}@-webkit-keyframes 'passingTrain2'{0%{right:100%}100%{right:-200%}}@-moz-keyframes passingTrain{0%{right:-200%}100%{right:100%}}@-moz-keyframes passingTrain2{0%{right:100%}100%{right:-200%}}@keyframes 'passingTrain'{0%{right:-200%}100%{right:100%}}@keyframes 'passingTrain2'{0%{right:100%}100%{right:-200%}}*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}body{background:#FFF;width:100%; font-family:Arial; font-size:13px;}small{font-size:80%}strong{font-weight:bold}a{text-decoration:none;color:#000}a em{color:#ff4e04;font-weight:bold}h1{text-indent:-99999px;width:348px;height:193px;margin:-30px auto;background:url(../i/logo.png) no-repeat center;-webkit-background-size:100% 100%;-moz-background-size:100% 100%;-o-background-size:100% 100%;background-size:100% 100%}@media only screen and (max-width: 25em){h1{width:300px;height:166px}}h2{text-indent:-99999px}#event{overflow:hidden;position:relative;height:600px;background:url(../i/bologna_skyline.svg) 220px 298px repeat-x,url(../i/chicago_skyline.svg) -5% bottom repeat-x,#fff url(../i/bolle.svg) -10% top repeat}.no-svg #event{background:url(../i/bologna_skyline.png) 220px 298px repeat-x,url(../i/chicago_skyline.png) -5% bottom repeat-x,#fff url(../i/bolle.png) -10% top repeat}.no-multiplebgs #event{background:#fff url(../i/complete_skyline.png) repeat-x}#event .data,#event .location{position:absolute;bottom:100px;left:5%;font-size:21px;color:#666;font-family:"ThirstyRough"}#event .data sup,#event .location sup{vertical-align:super;font-size:50%}#event .location{bottom:60px;font-size:40px;font-family:"Veneer"}#train1,#train2{position:absolute;bottom:0;display:block;overflow:hidden;width:800px;height:50px}#train1 ul,#train2 ul{position:absolute;display:block;bottom:0;width:800px}#train1 .coach,#train2 .coach{width:187px;height:34px;background:url("../i/vagone.svg") no-repeat;display:inline-block}.no-svg #train1 .coach,.no-svg #train2 .coach{background:url("../i/vagone.png") no-repeat}#train1{right:-200%}#train2{right:100%}.no-cssanimations #train1{right:-50%}.cssanimations .loaded #train1{-webkit-animation:passingTrain 7s 1s infinite;-moz-animation:passingTrain 7s 1s infinite;animation:passingTrain 7s 1s infinite}.cssanimations .loaded #train2{-webkit-animation:passingTrain2 20s 4s infinite;-moz-animation:passingTrain2 20s 4s infinite;animation:passingTrain2 20s 4s infinite;bottom:-2px}.tools{display:block;height:70px;background:#F8F8F8;border-bottom:9px solid #EDEDED;width:1000px;max-width:100%;margin:0 auto}.tools .intro{font-family:"Veneer", "LeagueGothicRegular", sans-serif;font-size:20px;line-height:50px;text-indent:-99999px;display:inline-block;width:250px;height:70px;background:url("../i/ftf.svg") 14px 14px no-repeat}.no-svg .tools .intro{background:url("../i/ftf.png") 14px 14px no-repeat}@media only screen and (max-width: 52em){.tools .intro{text-indent:0;background:none;text-align:center;padding-left:20px;display:block;font-family:"ThirstyRough";font-size:18px;line-height:1;margin:20px auto 0 auto}.tools .intro em{display:block;font-size:14px;line-height:1}.no-svg .tools .intro{background:none}}@media only screen and (max-width: 52em){.tools{background-color:transparent;border:none;height:90px}}.tools .buy{float:right;text-align:center;font-family:"LeagueGothicRegular", sans-serif;padding:16px 14px 0 0}.tools .buy a{color:#2cc4fd;font-size:30px}.tools .buy a span{font-size:14px;color:#4E4E4E;display:block;text-transform:uppercase}.tools .buy a span sup{font-size:50%;vertical-align:top}.tools .buy a:hover{color:#ff4e04}@media only screen and (max-width: 52em){.tools .buy{display:none}}#subevents{background-color:#ffffff;background:url('../i/../i/strada.svg?1370263960'),-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d4d4d4), color-stop(100%, #ffffff));background:url('../i/../i/strada.svg?1370263960'),-webkit-linear-gradient(#d4d4d4,#ffffff);background:url('../i/../i/strada.svg?1370263960'),-moz-linear-gradient(#d4d4d4,#ffffff);background:url('../i/../i/strada.svg?1370263960'),-o-linear-gradient(#d4d4d4,#ffffff);background:url('../i/../i/strada.svg?1370263960'),linear-gradient(#d4d4d4,#ffffff);background-size:100% 100%;position:relative;height:661px}.no-svg #subevents{background:url('../i/../i/strada.png?1370263960'),-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d4d4d4), color-stop(100%, #ffffff));background:url('../i/../i/strada.png?1370263960'),-webkit-linear-gradient(#d4d4d4,#ffffff);background:url('../i/../i/strada.png?1370263960'),-moz-linear-gradient(#d4d4d4,#ffffff);background:url('../i/../i/strada.png?1370263960'),-o-linear-gradient(#d4d4d4,#ffffff);background:url('../i/../i/strada.png?1370263960'),linear-gradient(#d4d4d4,#ffffff);background-size:100% 100%}@media only screen and (max-width: 43em){#subevents{background:url('../i/../i/strada_fronte.svg?1370263960'),-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d4d4d4), color-stop(100%, #ffffff));background:url('../i/../i/strada_fronte.svg?1370263960'),-webkit-linear-gradient(#d4d4d4,#ffffff);background:url('../i/../i/strada_fronte.svg?1370263960'),-moz-linear-gradient(#d4d4d4,#ffffff);background:url('../i/../i/strada_fronte.svg?1370263960'),-o-linear-gradient(#d4d4d4,#ffffff);background:url('../i/../i/strada_fronte.svg?1370263960'),linear-gradient(#d4d4d4,#ffffff);height:620px;background-size:100% 100%;background-position:center top}.no-svg #subevents{background:url('../i/../i/strada_fronte.png?1370263960'),-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d4d4d4), color-stop(100%, #ffffff));background:url('../i/../i/strada_fronte.png?1370263960'),-webkit-linear-gradient(#d4d4d4,#ffffff);background:url('../i/../i/strada_fronte.png?1370263960'),-moz-linear-gradient(#d4d4d4,#ffffff);background:url('../i/../i/strada_fronte.png?1370263960'),-o-linear-gradient(#d4d4d4,#ffffff);background:url('../i/../i/strada_fronte.png?1370263960'),linear-gradient(#d4d4d4,#ffffff);background-size:100% 100%}}#spacer{margin-left:200px}.subevent,div.buy{-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;display:block;height:263px;width:202px;margin-top:-200px;position:absolute;margin-left:-140px;text-align:center;background:url(../i/lampione.svg) no-repeat;background-size:100% 100%}.no-svg .subevent,.no-svg div.buy{background:url(../i/lampione1.png) no-repeat}.subevent time,div.buy time{position:absolute;left:15%;bottom:6px;font-size:300%;width:20%;text-align:right;z-index:100;text-transform:uppercase;font-family:"Veneer"}@media only screen and (max-width: 43em){.subevent time,div.buy time{bottom:47px}}.subevent time sup,div.buy time sup{position:absolute;font-size:30%;top:5px}.subevent [itemprop=url],div.buy [itemprop=url]{position:absolute;bottom:14px;font-size:250%;width:80%;left:10%;z-index:100;text-transform:uppercase;font-family:"Veneer";color:#2cc4fd}.subevent .description,div.buy .description{position:absolute;text-align:left;padding-left:40%;left:0;bottom:6px;text-transform:uppercase;font-family:"LeagueGothicRegular"}@media only screen and (max-width: 43em){.subevent .description,div.buy .description{bottom:47px}}.subevent span,div.buy span{position:absolute;font-size:160%;bottom:0;z-index:100}.subevent.empty,div.buy.empty{font-size:80%;top:-16px;left:30%;pointer-events:none}@media only screen and (max-width: 43em){.subevent.empty,div.buy.empty{top:5px;left:50%;margin-left:-60px;width:162px}}@media only screen and (max-width: 25em){.subevent.empty,div.buy.empty{margin-left:-80px}}.subevent.workshops,div.buy.workshops{font-size:90%;margin-left:-200px;top:-54px;left:44%;height:339px;width:259px}@media only screen and (max-width: 43em){.subevent.workshops,div.buy.workshops{top:-18px;left:50%;margin-left:-80px;width:207px}}@media only screen and (max-width: 25em){.subevent.workshops,div.buy.workshops{margin-left:-100px}}.no-svg .subevent.workshops,.no-svg div.buy.workshops{background:url(../i/lampione2.png) no-repeat}.subevent.conference,div.buy.conference{font-size:100%;margin-left:-260px;top:-74px;left:62%;width:316px;height:402px}@media only screen and (max-width: 43em){.subevent.conference,div.buy.conference{top:-41px;left:50%;width:255px;height:414px;margin-left:-103px}}@media only screen and (max-width: 25em){.subevent.conference,div.buy.conference{margin-left:-123px}}.no-svg .subevent.conference,.no-svg div.buy.conference{background:url(../i/lampione3.png) no-repeat}.subevent.buy,div.buy.buy{margin-left:-320px;top:-88px;left:85%;width:359px;height:470px}.no-svg .subevent.buy,.no-svg div.buy.buy{background:url(../i/lampione4.png) no-repeat}.subevent.buy a,div.buy.buy a{-webkit-border-radius:50% 50%;-moz-border-radius:50% / 50%;border-radius:50% / 50%;bottom:6px;width:81%;left:8%;height:41px;font-size:250%;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in}@media only screen and (max-width: 43em){.subevent.buy,div.buy.buy{top:-70px;left:50%;width:319px;height:510px;margin-left:-135px}.subevent.buy a,div.buy.buy a{bottom:47px}}@media only screen and (max-width: 25em){.subevent.buy,div.buy.buy{margin-left:-160px}}.subevent.buy a:hover,div.buy.buy a:hover{color:#ff4e04}h3{position:relative;margin:30px 0;text-transform:uppercase;font-family:Veneer, Arial;font-size:220%;text-align:left;color:#c9450d}h3 em{color:#ff4e04}@media only screen and (max-width: 43em){h3{text-align:center}}header{margin-bottom:-400px}#main{width:100%;max-width:1000px;margin:0 auto;text-align:center}@media only screen and (max-width: 52em){#main{width:95%}}@media only screen and (max-width: 43em){#main{margin-top:-350px;width:100%}}#the_band,#schedule,#location,#tickets,#subscribe,#how_it_works,#sponsors,#workshops,#workshops_page{position:relative;top:0;padding:0 20px;width:100%}@media only screen and (max-width: 43em){#the_band,#schedule,#location,#tickets,#subscribe,#how_it_works,#sponsors,#workshops,#workshops_page{margin:0;padding:0 10px}}#tickets p{margin-bottom:20px;line-height:1.3}#tickets p strong{font-weight:bold}#tickets p a{border-bottom:1px solid #4E4E4E}#tickets p a:hover{color:#ff4e04}#social{margin-top:40px}#location .venue,#location .city{width:49%;display:inline;float:left;position:relative}@media only screen and (max-width: 43em){#location .venue,#location .city{width:100%;display:block}}#location .venue{margin-right:1%}#location .city{margin-left:1%;float:right}@media only screen and (max-width: 52em){#location .venue,#location .city{margin:10px 0}}#location figure,#location .description{display:inline;float:left;text-align:left;position:relative;background:#f5f5f5;height:266px}#location figure{overflow:hidden;position:relative;width:45%}@media only screen and (max-width: 43em){#location figure{width:40%}}#location .description{padding:10px 20px;width:270px;right:0;margin-bottom:-18px;position:absolute}@media only screen and (max-width: 52em){#location .description{width:218px}}@media only screen and (max-width: 43em){#location .description{width:65%;padding:10px 10px}}#location h4{font-family:"ThirstyRough";font-size:28px;margin:10px 0 10px;position:relative}@media only screen and (max-width: 52em){#location h4{font-size:23px}}@media only screen and (max-width: 43em){#location h4{font-size:21px}}#location h4:after{width:0;height:0;content:"";border-width:20px;border-color:transparent #f5f5f5 transparent transparent;border-style:solid;position:absolute;top:-10px;left:-59px}@media only screen and (max-width: 43em){#location h4:after{left:-48px}}#location p,#location .get_info{font-family:"Arial";line-height:18px}#location .get_info{font-family:"LeagueGothicRegular", sans-serif;text-transform:uppercase;font-size:14px;font-weight:700;text-align:right;height:18px;position:absolute;bottom:10px;right:20px}#location .get_info:hover{color:#ff4e04}#how_it_works{margin-top:60px}#how_it_works ul{margin-top:50x}#how_it_works p{text-align:left;font:12px/18px Arial;padding:0 10px}@media only screen and (max-width: 43em){#how_it_works p{text-align:center}}.features{width:20%;float:left;position:relative;display:inline-block;margin-bottom:50px}@media only screen and (max-width: 43em){.features{width:100%;margin-right:0;margin-bottom:20px;float:left;display:block}}.features:last-child{margin-right:0;float:right;margin:0}.features:last-child:before{background:none}.features:last-child .f_image{background:#00c3ff}.features:last-child .f_title{background:#1b82a2}.features:last-child .f_title:before{border-color:transparent transparent #1b82a2 transparent}.features:before{content:"";position:absolute;display:block;top:50px;width:32px;height:33px;right:-16px;background:url("../i/plus.png") right center no-repeat}@media only screen and (max-width: 52em){.features:before{margin-left:30px;top:35px}}@media only screen and (max-width: 43em){.features:before{bottom:-18px;left:50%;top:auto;width:33px;margin-left:-18px;-webkit-transform:scale(0.5);-moz-transform:scale(0.5);-o-transform:scale(0.5);transform:scale(0.5)}}.features:nth-last-child(2):before{margin-left:28px;background:url("../i/maggiore.png") right center no-repeat}@media only screen and (max-width: 52em){.features:nth-last-child(2):before{margin-left:25px}}@media only screen and (max-width: 43em){.features:nth-last-child(2):before{margin-left:-15px;-webkit-transform:rotate(90deg) scale(0.5);-moz-transform:rotate(90deg) scale(0.5);-o-transform:rotate(90deg) scale(0.5);transform:rotate(90deg) scale(0.5)}}.features:hover .f_title{background:#1b82a2}.features:hover .f_title:before{border-bottom-color:#1b82a2}.features:nth-child(1):hover img{-webkit-transform:rotate(-16deg) scale(1.05);-moz-transform:rotate(-16deg) scale(1.1);-o-transform:rotate(-16deg) scale(1.1);transform:rotate(-16deg) scale(1.1)}.features:nth-child(2):hover img{-webkit-transform:rotate(18deg) scale(1.05);-moz-transform:rotate(18deg) scale(1.1);-o-transform:rotate(18deg) scale(1.1);transform:rotate(18deg) scale(1.1)}.features:nth-child(3):hover img{-webkit-transform:rotate(-10deg) scale(1.05);-moz-transform:rotate(-10deg) scale(1.1);-o-transform:rotate(-10deg) scale(1.1);transform:rotate(-10deg) scale(1.1)}.features:nth-child(4):hover img{-webkit-transform:rotate(-19deg) scale(1.05);-moz-transform:rotate(-19deg) scale(1.1);-o-transform:rotate(-19deg) scale(1.1);transform:rotate(-19deg) scale(1.1)}.features:nth-child(5):hover img{-webkit-transform:rotate(18deg) scale(1.05);-moz-transform:rotate(18deg) scale(1.1);-o-transform:rotate(18deg) scale(1.1);transform:rotate(18deg) scale(1.1)}.f_image{max-width:100%;width:70%;background:#ff4e04;border-radius:100%;margin-bottom:-31px;-webkit-backface-visibility:hidden;-webkit-transition:all 0.4s;-moz-transition:all 0.4s;transition:all 0.4s}@media only screen and (max-width: 43em){.f_image{width:80px}}.f_title{font-family:"LeagueGothicRegular", sans-serif;text-transform:uppercase;font-weight:700;background:#c9450d;color:white;font-size:18px;line-height:22px;margin:0 10px 22px;position:relative;border-radius:4px}@media only screen and (max-width: 43em){.f_title{width:35%;margin:0 auto 22px}}.f_title:before{content:"";width:0;height:0;border-color:transparent transparent #c9450d transparent;border-width:6px;border-style:solid;position:absolute;top:-12px;left:50%;margin-left:-6px}#subscribe{text-align:left;padding-top:80px}@media only screen and (max-width: 52em){#subscribe{height:auto;background:transparent}}#subscribe .mailchimp{text-align:left;background:#ff4e04;display:inline-block;font:20px/60px Arial,sans-serif;width:70%;height:100%;padding:0 10px;color:#fff;float:left}#subscribe .mailchimp form{position:relative}@media only screen and (max-width: 52em){#subscribe .mailchimp{width:100%;padding:0 2%}#subscribe .mailchimp form{text-align:center}}#subscribe .mailchimp label{color:#fff;font:22px/40px "ThirstyRough",sans-serif;display:inline-block;padding:0 20px;width:200px;left:0;line-height:50px;top:7px;position:absolute;background:#ff4e04;z-index:10}@media only screen and (max-width: 43em){#subscribe .mailchimp label{display:block;text-align:center;position:relative;width:100%}}#subscribe .mailchimp label:before{content:"";width:0px;height:0px;border-style:solid;border-width:20px;border-color:transparent transparent transparent #ff4e04;position:absolute;right:-40px;top:4px;z-index:100}@media only screen and (max-width: 43em){#subscribe .mailchimp label:before{left:0;top:54px}}#subscribe .mailchimp input[type=email]{display:inline-block;border:0;background:#FFF;height:40px;padding:0 0 0 230px;margin:0;width:100%;font-size:18px;position:relative}#subscribe .mailchimp input[type=email]:focus{outline:1px solid #ff4e04}@media only screen and (max-width: 43em){#subscribe .mailchimp input[type=email]{padding:0 0 0 40px}}#subscribe .mailchimp input[type=submit]{border:0;background:#fff;color:#c9450d;font-family:"LeagueGothicRegular", sans-serif;font-size:20px;height:35px;width:80px;padding:0;text-transform:uppercase;-webkit-appearance:none;position:absolute;right:0;top:14px}@media only screen and (max-width: 43em){#subscribe .mailchimp input[type=submit]{top:64px}}#subscribe .followUs{float:right;display:inline-block;font-family:"LeagueGothicRegular", sans-serif;text-align:right;color:#fff;padding:10px;background:#4E4E4E;width:30%;height:60px}@media only screen and (max-width: 52em){#subscribe .followUs{background:#4E4E4E;text-align:center;float:none;width:100%;padding:2px 2% 4px 2%}#subscribe .followUs span{display:inline-block;text-align:left;padding-right:20px;vertical-align:-6px;line-height:60px}#subscribe .followUs .socialContainer{display:inline-block}}#subscribe .socialContainer{overflow:hidden}#subscribe .social{display:inline-block;width:31px;height:24px;margin-top:3px;text-indent:99999px}#subscribe .facebook{background:url(../i/f.svg) no-repeat 4px 0}.no-svg #subscribe .facebook{background-image:url(../i/f.png)}#subscribe .linkedin{background:url(../i/in.svg) no-repeat 4px 0}.no-svg #subscribe .linkedin{background-image:url(../i/in.png)}#subscribe .vimeo{background:url(../i/v.svg) no-repeat 4px 0}.no-svg #subscribe .vimeo{background-image:url(../i/v.png)}#subscribe .twitter{background:url(../i/t.svg) no-repeat 4px 0}.no-svg #subscribe .twitter{background-image:url(../i/t.png)}#sponsors{padding:80px 0 0}#sponsors h5{font:22px/35px "Veneer",sans-serif;color:#686868;position:relative;display:inline-block;margin-bottom:20px}#sponsors h5:after{content:"";width:21px;height:14px;background:url(../i/cap.png);position:absolute;top:-5px;right:-14px}#sponsors .banner_center{text-align:center;}#sponsors .banner_center li {float:none!important;}#sponsors .banner{line-height:120px;margin-bottom:20px}@media only screen and (max-width: 43em){#sponsors .banner{padding:10px}}#sponsors .banner li{float:left;display:inline-block}#sponsors .banner img{max-width:100%}#sponsors .banner_Managers li{width:50%}#sponsors .banner_Managers li:first-child{text-align:right;padding-right:50px}@media only screen and (max-width: 43em){#sponsors .banner_Managers li:first-child{text-align:center;padding:0}}#sponsors .banner_Managers li:last-child{text-align:left;padding-left:50px}@media only screen and (max-width: 43em){#sponsors .banner_Managers li:last-child{text-align:center;padding:0}}@media only screen and (max-width: 43em){#sponsors .banner_Managers li{width:100%;display:block;text-align:center;padding:0}}#sponsors .banner_ExecutiveProducers li{width:33%}@media only screen and (max-width: 43em){#sponsors .banner_ExecutiveProducers li{width:100%}}#sponsors .banner_SoundEngineers li{width:25%}@media only screen and (max-width: 43em){#sponsors .banner_SoundEngineers li{width:50%}}#sponsors .banner_Assistants li{width:20%}@media only screen and (max-width: 43em){#sponsors .banner_Assistants li{width:33%}#sponsors .banner_Assistants li:nth-child(4),#sponsors .banner_Assistants li:nth-child(5){width:50%}}#sponsors .banner_Supporters li{width:16.666%}@media only screen and (max-width: 43em){#sponsors .banner_Supporters li{width:33%}}#sponsors .sponsor_contacts{text-transform:uppercase;font:12px/18px Arial;color:#252525; clear:both;}#sponsors .sponsor_contacts a{font-weight:bold}#sponsors .sponsor_contacts a:hover{color:#ff4e04}.empty_banner{background:#efefef;text-align:center;display:inline-block;width:100px;line-height:20px;padding:20px 10px;color:#999;text-transform:uppercase;font-size:11px;font-family:arial;background:url(../i/sponsor-empty.jpg) no-repeat center center;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover}footer{font:14px/1.2 Arial;color:#444;margin-top:60px;margin-bottom:80px;padding:0 20px}footer a:hover{text-decoration:underline}footer .credits{width:100%;display:block;position:relative;top:-11px}@media only screen and (max-width: 52em){footer .credits{top:25px}}footer .carbox{border-top:4px solid #ccc;position:relative;text-align:center}footer .carbox img{position:relative;top:-10px;z-index:10}footer .carbox p{border-top:4px solid #ccc;padding-top:12px;position:absolute;width:100%;bottom:-10px;font-family:"ThirstyRough",sans-serif;color:#505050}footer .legal,footer .social{width:50%;float:left;display:inline-block}@media only screen and (max-width: 43em){footer .legal,footer .social{width:100%}}footer .legal p{display:inline-block;float:left;font-size:10px;padding-left:20px;line-height:13px}@media only screen and (max-width: 43em){footer .legal p{display:block;width:100%;text-align:center;padding-left:0;margin:20px 0}}footer .social{text-align:right}footer .social p{text-transform:uppercase;font-size:10px}@media only screen and (max-width: 43em){footer .social p{text-align:center}}footer .ftf_logo{background:url(../i/logo_ftf.png) center center no-repeat;width:152px;height:34px;display:inline-block;float:left;border-bottom:4px solid #ccc;padding-bottom:46px}@media only screen and (max-width: 43em){footer .ftf_logo{border:none;width:100%;text-align:center}}footer .lovalova{color:#ff4e04;font-size:20px;font-weight:bold;line-height:11px;position:relative;top:2px}.amiando{width:95%;max-width:980px;height:450px}.fb_iframe_widget{top:0 !important}#workshops{text-align:left;margin:20px 0 20px}@media only screen and (max-width: 43em){#workshops{max-width:470px;margin:0 auto}}#workshops .first_wshop,#workshops .second_wshop{display:inline-block;float:left;width:49%;background:#f5f5f5}@media only screen and (max-width: 43em){#workshops .first_wshop,#workshops .second_wshop{width:100%}}#workshops .second_wshop{margin-left:2%}@media only screen and (max-width: 43em){#workshops .second_wshop{margin:20px 0 0}}#workshops img{max-width:100%}#workshops h4{font-family:"ThirstyRough", serif;position:relative;font-size:19px;color:#888;margin:15px 20px 10px}#workshops h4:after{width:0;height:0;content:"";border-width:20px;border-color:transparent transparent #f5f5f5 transparent;border-style:solid;position:absolute;top:-57px;left:0}#workshops h5{font-family:Veneer, Arial;font-size:20px;color:#444;margin:10px 20px}#workshops p{margin:0 20px 20px;font-family:Arial;font-size:13px;line-height:18px;}#workshops .read_more{font-family:"LeagueGothicRegular", sans-serif;text-transform:uppercase;font-size:14px;font-weight:700;display:block;text-align:right;height:18px;position:relative;bottom:5px;right:10px;color:#333}#workshops .read_more:hover{color:#c9450d}[itemprop=performer]{background:#fff;width:30%;position:relative;display:inline-block;margin:6px;height:30%}@media only screen and (max-width: 52em){[itemprop=performer]{margin:6px 10px;width:64%}}@media only screen and (max-width: 43em){[itemprop=performer]{margin:6px 10px;width:84%}}[itemprop=performer] img{width:100%;-webkit-backface-visibility:hidden;-webkit-filter:sepia(50%) grayscale(60%);-moz-filter:sepia(50%) grayscale(60%);filter:sepia(50%) grayscale(60%);-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;float:left}[itemprop=performer]>a:hover [itemprop=name]{color:#FF4E04;}[itemprop=performer] [itemprop=name]{color:#fff;font-family:"ThirstyRough";text-shadow:0px 0px 4px #000;font-size:160%;font-weight:100;position:absolute;text-align:center;width:100%;bottom:0;left:0;line-height:2;display:block}.no-textshadow [itemprop=performer] [itemprop=name]{background:#4E4E4E;opacity:.7;line-height:1.5}@media only screen and (max-width: 52em){[itemprop=performer] [itemprop=name]{font-size:180%}}@media only screen and (max-width: 43em){[itemprop=performer] [itemprop=name]{font-size:180%}}[itemprop=performer]:hover img{-webkit-filter:none;-moz-filter:none;filter:none}[itemprop=performer] [itemprop=description]{display:none;color:#8c8b90;font-family:Arial;padding:0 10px;font-size:.8em;margin-left:165px}#workshops_page{text-align:left}#workshops_page .headshot{max-width:100%;width:250px;position:relative}@media only screen and (max-width: 43em){#workshops_page .headshot{width:100%}}#workshops_page .ws_aaron,#workshops_page .ws_seb{background:#f4f4f4;margin:30px 0;padding:20px}#workshops_page .ws_seb .headshot{float:left;margin:0 20px 20px 0}#workshops_page .ws_aaron .headshot{float:right;margin:0 0 20px 20px}#workshops_page h4{font-family:"ThirstyRough", serif;position:relative;font-size:25px;color:#888;margin:10px 0 0}#workshops_page h5{font-family:Veneer, Arial;font-size:24px;color:#444;margin:10px 0 20px}#workshops_page p,#workshops_page li{margin:10px 0;font-family:Arial;line-height:19px;font-size:13px}#workshops_page ul{padding-left:20px}#workshops_page li{list-style:disc}
/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 502;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
  filter: alpha(opacity=80); }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 503;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  height: 100%;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 505; }

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #cccccc;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 504; }

.mfp-preloader a {
  color: #cccccc; }

.mfp-preloader a:hover {
  color: white; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close,
button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  padding: 0;
  z-index: 506; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: white;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }
  .mfp-close:hover, .mfp-close:focus {
    opacity: 1; }
  .mfp-close:active {
    top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333333; }

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: white;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #cccccc;
  font-size: 12px;
  line-height: 18px; }

.mfp-arrow {
  position: absolute;
  top: 0;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

.mfp-arrow:active {
  margin-top: -54px; }

.mfp-arrow:hover,
.mfp-arrow:focus {
  opacity: 1; }

.mfp-arrow:before, .mfp-arrow:after,
.mfp-arrow .mfp-b,
.mfp-arrow .mfp-a {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 35px;
  margin-left: 35px;
  border: solid transparent; }
.mfp-arrow:after,
.mfp-arrow .mfp-a {
  opacity: 0.8;
  border-top-width: 12px;
  border-bottom-width: 12px;
  top: 8px; }
.mfp-arrow:before,
.mfp-arrow .mfp-b {
  border-top-width: 20px;
  border-bottom-width: 20px; }

.mfp-arrow-left {
  left: 0; }
  .mfp-arrow-left:after,
  .mfp-arrow-left .mfp-a {
    border-right: 12px solid black;
    left: 5px; }
  .mfp-arrow-left:before,
  .mfp-arrow-left .mfp-b {
    border-right: 20px solid white; }

.mfp-arrow-right {
  right: 0; }
  .mfp-arrow-right:after,
  .mfp-arrow-right .mfp-a {
    border-left: 12px solid black;
    left: 3px; }
  .mfp-arrow-right:before,
  .mfp-arrow-right .mfp-b {
    border-left: 20px solid white; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }

.mfp-iframe-holder .mfp-content {
  line-height: 0;
  width: 100%;
  max-width: 900px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }

.mfp-iframe-scaler iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: black; }

.mfp-iframe-holder .mfp-close {
  top: -40px; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure:after {
  content: '';
  position: absolute;
  left: 0;
  top: 40px;
  bottom: 40px;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6); }

.mfp-figure {
  line-height: 0; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #f3f3f3;
  word-break: break-word;
  padding-right: 36px; }

.mfp-figure small {
  color: #bdbdbd;
  display: block;
  font-size: 12px;
  line-height: 14px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }


@media (max-width:800px) {
	.hidden_mobile {
		display:none!important;
	}
}

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
* Remove all paddings around the image on small screen
*/
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }

  .mfp-img-mobile img.mfp-img {
    padding: 0; }

  /* The shadow behind the image */
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }

  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .mfp-img-mobile .mfp-bottom-bar:empty {
    padding: 0; }

  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }

  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; }

  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; } }
@media all and (max-width: 800px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }

  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0; }

  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%; }

  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; } }
.mfp-ie7 .mfp-img {
  padding: 0; }
.mfp-ie7 .mfp-bottom-bar {
  width: 600px;
  left: 50%;
  margin-left: -300px;
  margin-top: 5px;
  padding-bottom: 5px; }
.mfp-ie7 .mfp-container {
  padding: 0; }
.mfp-ie7 .mfp-content {
  padding-top: 44px; }
.mfp-ie7 .mfp-close {
  top: 0;
  right: 0;
  padding-top: 0; }
